body {
    font-family: "Montserrat";
}
#title {
    background-color: #ff4c68;
    color: #fff;
}
h1 {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.5;
}
h2 {
    font-family: "Montserrat black", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    padding: 1rem;
}
h3 {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: bold;
}
p {
    color: #8f8f8f;
    /* padding: 3.5%; */
}
.container-fluid {
    padding: 3% 15% 7%;
}
.nav-view {
    margin-bottom: 5%;
}
.brand-name {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
}
.nav-item {
    margin: 0 18px;
}
button {
    margin: 1rem 1rem 0 0;
}
.iphone-tindog {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 24%;
}

/* Features Section*/

#features {
    background-color: #fff;
    padding: 7% 15%;
    text-align: center;
    position: relative;
}
.features-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}
.features-icon:hover {
    color: #ff4c68;
}
#testimonials {
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    color: white;
}

/* Testimonials section */

.testimonilImg {
    width: 15%;
    margin-top: 1.5rem;
    margin-right: 1rem;
    border-radius: 100%;
}

/* Press  */

#press {
    background-color: #ff4c68;
    text-align: center;
    padding: 2% 5% 10%;
}
.press-img {
    width: 20%;
}

/* Pricing Section */

#pricing {
    padding: 6.25rem;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;
}

/* CTA Section */

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    color: white;
}
.cta-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer */

#footer {
    background-color: #fff;
    text-align: center;
    padding: 8% 15%;
}
.footer-icon {
    padding: 1rem 1rem;
    color: #4d4848;
}

/* Media Query */
@media (max-width: 1060px) {
    .iphone-tindog {
        width: 20%;
        right: 14rem;
    }
}
@media (max-width: 1000px) {
    .iphone-tindog {
        position: static;
        width: 80%;
        /* transform: rotate(0); */
        text-align: center;
        padding: 3% 10%;
    }
}
@media (max-width: 991px) {
    #title {
        text-align: center;
    }
    .iphone-tindog {
        transform: rotate(0);
    }
}